*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 
}

body{
   background-image: url("../images/Fondo.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0;
      height: 100vh;
}

form{
    position: absolute;
    min-width: 280px;
    max-width: 25%;
    width: 25%;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    border-radius: 5px;
    color: green;
}

h1{
    position: relative;
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 7px;
    color: white;
    
}

h1::after{
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 3px;
    background-color: darkblue;
    width: 120px;
    left: 0;
    bottom: 0;
}

input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 1px;
    background-color: syblue;
    border-radius: 5px;
    
}

.acuerdo{
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
}
button{
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    background-color: darkblue;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
}
.link{
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;  
}
@media only screen and (max-width: 375px){
	
	.form input{
		height: auto;
		width: 50%;
		
	}
	.h1{
		font-size: 25px;
	}
	
}

@media only screen and (min-width: 480px){
	.form{
		width: 100%;
		height: auto;
	}
	.h1{
		font-size: 25px;
	}
}

@media only screen and (min-width: 600px){
	.form{
		width: 100%;
	}
	.h1{
		font-size: 25px;
	}
}

@media only screen and (min-width: 768px){
	.form{
		width: 100%;
	}
	.h1{
		font-size: 25px;
	}
}
		
@media only screen and (max-width: 9840px){
	.form{
		width: 100%;
	}
	.h1{
		font-size: 25px;
	}
	
}

@media only screen and (max-width: 1200px){
	.form{
		height: auto;
		width: 100%;
	}
	.h1{
		font-size: 25px;
	}
}
		
	